{% if section.blocks.size > 0 %}
  <div class="sidebar four columns">
    <div class="sidebar_content toggle-all--{{ section.settings.toggle }}">
      {% for block in section.blocks %}
        <div class="sidebar-block" {{ block.shopify_attributes }}>
          {% if block.type == 'menu' %}

            {% if block.settings.custom_menu_linklist != blank %}
              <h4 class="toggle">{{ linklists[block.settings.custom_menu_linklist].title }}<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                {% for link in linklists[block.settings.custom_menu_linklist].links %}
                  <li>
                    <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title | escape }}">{{ link.title }}</a>

                    {% if linklists[link.handle] != empty %}
                      {% assign display_sublinks = false %}

                      {% for link in linklists[link.handle].links %}
                        {% if link.active %}
                          {% assign display_sublinks = true %}
                        {% endif %}
                      {% endfor %}

                      {% if display_sublinks or link.active %}
                        <ul>
                        {% for link in linklists[link.handle].links %}
                          <li>
                            <a {% if link.active %}class="active"{% endif %} href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <h4 class="toggle">Menu title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'search' %}
            <form class="blog_search" action="/search">
              <input type="hidden" name="type" value="article" />
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." autocapitalize="off" autocomplete="off" autocorrect="off" value="{{ search.terms }}" />
            </form>

          {% elsif block.type == 'newsletter' %}
            {% if block.settings.newsletter_title != blank %}
              <h4 class="newsletter-block__title">{{ block.settings.newsletter_title }}</h4>
            {% endif %}
            {% if block.settings.newsletter_text != blank %}
              <div class="newsletter-block__text">{{ block.settings.newsletter_text }}</div>
            {% endif %}
            {% include 'newsletter-form' %}

          {% elsif block.type == 'recent_posts' %}
            <h4 class="toggle">{{ 'blogs.sidebar.recent_articles' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for article in blogs[blog_handle].articles limit: block.settings.blog_post_count %}
                <li>
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
                  {% if settings.blog_date %}
                    <div class="meta">
                      <span class="label">{{ article.published_at | date: format: "month_day_year" }}</span>
                    </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'post_tags'  %}
            <h4 class="toggle">{{ 'blogs.sidebar.categories' | t }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list">
              {% for tag in blogs[blog_handle].all_tags %}
                <li>
                  <a href="{{ shop.url}}/blogs/{{ blogs[blog_handle].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[blog_handle].title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>
                </li>
              {% endfor %}
            </ul>

          {% elsif block.type == 'page' %}
            {% if block.settings.content_page != blank %}
              <h4 class="toggle">{{ pages[block.settings.content_page].title }}<span class="right icon-down-arrow"></h4>
              <ul class="toggle_list content_block">
                <li>{{ pages[block.settings.content_page].content }}</li>
              </ul>
            {% else %}
              <h4 class="toggle">Page title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}

          {% elsif block.type == 'text' %}
            <h4 class="toggle">{{ block.settings.title }}<span class="right icon-down-arrow"></span></h4>
            <ul class="toggle_list content_block">
              <li>{{ block.settings.text }}</li>
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
