{% comment %}
** Product - default view **
- Product template
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">
  <div class="sixteen columns mt-n">
    {% if collection %}
    	<a href="{{ collection.url }}" class="dark--text" title="{{ collection.title | escape }}" itemprop="item">
          <h6 class="clickable dark--text"><i class="fa fa-arrow-left left-icon"></i> Volver a {{ collection.title }}
          </h6></a>
    {% endif %}
  </div>
  <div class="sixteen columns desktop">
    {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
      <div class="clearfix breadcrumb-collection">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% if section.settings.product_breadcrumb %}
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            <span class="breadcrumb-divider">/</span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              {% if collection %}
                <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link"><span itemprop="name">{{ collection.title }}</span></a>
              {% else %}
                <a href="/collections/all" title="{{ collections.all.title }}" class="breadcrumb_link"><span>{{ collections.all.title }}</span></a>
              {% endif %}
            </span>
            <span class="breadcrumb-divider">/</span>
            {{ product.title }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
  {% if section.blocks.size > 0 %}
    {% assign sidebar = true %}
  {% else %}
    {% assign sidebar = false %}
  {% endif %}

  <div class="product clearfix">
    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}

    <div  class="product-{{ product.id }}"
          data-free-text="{{ settings.free_price_text }}"
          >
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
{% if product.metafields.loox.num_reviews %}
	<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<meta itemprop="ratingValue" content="{{ product.metafields.loox.avg_rating }}"/>
		<meta itemprop="reviewCount" content="{{ product.metafields.loox.num_reviews }}"/>
	</div>
{% endif %}

        <div class="{% if sidebar %}seven{% else %}eight{% endif %} columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="{% if sidebar %}five{% else %}eight{% endif %} columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">

          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = product.selected_or_first_available_variant %}

          {% if product.available %}
            {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
              <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
            {% endif %}
          {% endif %}
          {% if collection_handles contains 'new' %}
            <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
          {% endif %}
          {% if collection_handles contains 'pre-order' %}
            <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
          {% endif %}

           {% if section.settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
            </p> 
          {% endif %}

          {% if variant.sku != blank and section.settings.display_sku %}
            <p class="sku">
              <span itemprop="sku">{{ variant.sku }}</span>
            </p>
          {% endif %}
          {% if product.tags contains 'ingaaponte' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/IgnaPonte.png?1201"/>
          {% endif %}
          {% if product.tags contains 'kerala' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Kerala.png?1259"/>
          {% endif %}
          {% if product.tags contains 'naturaldecaf' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Natural.png?1259"/>
          {% endif %}
          {% if product.tags contains 'belenumbria' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/BelenUmbria.png?1259"/>
          {% endif %}
          {% if product.tags contains 'laderastapia' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Laderas.png?1259"/>
          {% endif %}
          {% if product.tags contains 'kenia' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Kenya.png?1259"/>
          {% endif %}
          {% if product.tags contains 'samaria' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Samaria.png?1259"/>
          {% endif %}
          {% if product.tags contains 'manizales' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Manizales.png?1259"/>
          {% endif %}
          {% if product.tags contains 'pangoa' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Pangoa.png?1259"/>
          {% endif %}
          {% if product.tags contains 'sausalito' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/Sausalito.png?1259"/>
          {% endif %}
          {% if product.tags contains 'santarosa' %}
          	<img class="img-title" src="https://cdn.shopify.com/s/files/1/2466/7899/files/SantaRosa.png?1259"/>
          {% endif %}
   
          <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
<a href="#looxReviews"><div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div></a>
<span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{product.id}}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display: block;"></span>
          {% if settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
          <div class="yotpo bottomLine"
            data-appkey="zoKKmxP8NOZcDXNYGT2nCYZPAgwIwi0LKJOHgqxJ"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product.id }}"
            data-product-models="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          </div>
          <div class="feature_divider"></div>

          {% assign product_tags = product.tags | join: ' ' %}
          {% if product_tags contains 'meta-size-chart-' %}
            {% for tag in product.tags %}
              {% if tag contains 'meta-size-chart-' %}
                <a href="#size-chart{{product.id}}" class="size_chart" data-remodal-target="size-chart{{product.id}}" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                {% include 'popup-size-chart', product_id: product.id %}
              {% endif %}
            {% endfor %}
          {% elsif settings.size_chart != blank %}
            <a href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}
          
		  {% if product.tags contains 'suscripciones' %}
            <button href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>Suscribir</button>
          {% endif %}
          {% if product.tags contains 'sorpresa' %}
            <button href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>Suscribir</button>
          {% endif %}
         
          {% if product.tags contains 'cafeteras' %}
            <button href="#size-chart" class="size_chart" data-remodal-target="size-chart" data-no-instant>Comodato</button>
          {% endif %}
          
          

          {% if collection_handles contains 'coming-soon' %}
            <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
          {% else %}
            <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
              <meta itemprop="seller" content="{{ shop.name | escape }}" />
              <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
              <meta itemprop="itemCondition" content="New" />

              <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
              <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                <span class="current_price {% if product.available == false %}hidden{% endif %}">
                  {% if variant.price > 0 %}
                    <span class="money">{{ variant.price | money }}</span>
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </span>
              </span>
              <span class="was_price">
                {% if variant.price < variant.compare_at_price and variant.available %}
                  <span class="money">{{ variant.compare_at_price | money }}</span>
                {% endif %}
              </span>

              {% if section.settings.display_savings %}
                <span class="sale savings">
                  {% if variant.price < variant.compare_at_price and variant.available %}
                    {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: variant.price | money }}</span>)
                  {% endif %}
                </span>
              {% endif %}
            </p>

            {% comment %}
            {% include 'product-notify-me' %}
            {% endcomment %}
          {% endif %}

          {% if section.settings.product_description_position == "top" %}
            {% if product.description != blank %}
             <div class="description" itemprop="description">
			{% include 'product-description-slider' %}
            {% comment %}   <div class="smart-tabs-wrapper">{% include 'bs-tabs' %}</div>{% endcomment %}
             </div>
           {% endif %}
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
            {% include 'product-form' with 'product' %}
            {% if section.settings.show_despachos %}
            <div class="mw-400">
              <div class="is-half bb-primary centered clickable">
                <div href="#despachos" class="additional" data-remodal-target="despachos" data-no-instant>
                  <img class="block" width="80px" src="https://cdn.shopify.com/s/files/1/2466/7899/files/envio_cafe_icono.png?v=1587786425">
                  <span class="block">Despachos a todo Chile</span>
                </div>
              </div>
              <div class="is-half bb-primary centered clickable d-none">
                <div href="#retiros" class="additional" data-remodal-target="retiros" data-no-instant>
                  <img class="block" width="80px" src="https://cdn.shopify.com/s/files/1/2466/7899/files/iconos1.png?v=1588213930">
                  <span class="block">Capsulas</span>
                </div>
              </div>
            </div>
            {% endif %}
          {% endunless %}
			
          <div class="sus_payku" style="display: none;">
          	<a type="button" onclick="enlace();" class="suscribir" style="width: 100%;
  border: none;
  background-color: #000000!important;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #ffffff!important;">Suscribir</a>
          </div>

          {% if section.settings.product_description_position == "bottom" %}
            {% if product.description != blank %}
             <div class="description bottom" style="margin-top: 20px;" itemprop="description">
              {% include 'product-description-slider' %}
            {% comment %}   <div class="smart-tabs-wrapper">{% include 'bs-tabs' %}</div>{% endcomment %}
             </div>
            {% endif %}
          {% endif %}
          
          <div id="goback" class="d-none">
            <button class="action_button add_to_cart" href="#" onclick="javascript:window.history.back(-1);return false;">Volver a la página anterior</button>
          </div>
          
		  <div id="fbt"></div>
          
          {% if settings.enable_shopify_review_comments and settings.review_position == "next_to_gallery" %}
            <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
          {% endif %}

          {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
            <div class="product_links">
              {% if section.settings.display_collections %}
                <p>
                  <span class="label">{{ 'products.product.collections' | t }}:</span>
                  <span>
                   {% for col in product.collections %}
                     <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                   {% endfor %}
                  </span>
                </p>
              {% endif %}

              {% if section.settings.display_type %}
                <p>
                  <span class="label">{{ 'products.product.product_types' | t }}:</span>
                  <span>{{ product.type | link_to_type }}</span>
                </p>
              {% endif %}

              {% if section.settings.display_tags %}
                <p>
                 {% for tag in product.tags %}
                   {% if forloop.first %}
                     <span class="label">{{ 'products.product.tags' | t }}:</span>
                   {% endif %}

                   {% unless tag contains 'meta-' %}
                     <span>
                       <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                       </span>
                   {% endunless %}
                 {% endfor %}
                </p>
              {% endif %}
            </div>
          {% endif %}

          <div class="meta">
            {% if section.settings.display_social_buttons %}
              {% include "social-buttons" with "product" %}
            {% endif %}
          </div>
        </div>
      </div>

      {% if product.description contains "<!-- split -->"  %}
        <br class="clear" />
        <div class="section clearfix">
          <div class="description">
            {% capture desctabs %}{{ product.description | split: '<!-- split -->' | last  }}{% endcapture %}{% include 'product-description-tabs' with desctabs %}
          </div>
        </div>
      
      {% endif %}
<div id="cbb-frequently-bought-box"></div>
      {% if settings.enable_shopify_review_comments and settings.review_position == "below_gallery" %}
        <div class="shopify-reviews">
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
        </div>
      {% endif %}
    </div>

    {% if sidebar %}

            {% if section.settings.display_related_products %}
              {% include 'related-products' %}
            {% endif %}
            {% if section.settings.display_recently_viewed %}
              {% include 'recently-viewed' %}
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}

          </div>
        </div>
      </div>

      {% if section.settings.display_related_products %}
        {% include 'related-products' %}
      {% endif %}
      {% if section.settings.display_recently_viewed %}
        {% include 'recently-viewed' %}
      {% endif %}

    {% endif %}

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
	{
      "type": "checkbox",
      "id": "show_despachos",
      "label": "Mostrar despachos",
      "default": false
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}

<div id="cbb-frequently-bought-box"></div>

	<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>