{% layout none %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
   	 <meta charset="utf-8">
     <meta http-equiv="cleartype" content="on">
  	 <meta name="robots" content="index,follow">

     <title>{{ shop.name }}</title>

     {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}" />
     {% endif %}

    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.regular_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

     <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Stylesheets for Turbo 2.1.5 -->
  	{{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
    <link rel="canonical" href="{{ canonical_url }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

</head>
<body id="password-page-bg">

    <div id="password-container" class="center">
      {% if settings.custom_logo != nil %}
        <div class="password-page-row">
          <div class="password-page-col">
            <img class="password-logo" src="{{ settings.custom_logo | img_url: '720x' }}" alt="{{ shop.name }}" />
          </div>
        </div>
      {% else %}
        <div class="password-page-row">
            <div class="password-page-col">
              <h1 class="logo">{{ shop.name }}</h1>
            </div>
        </div>
      {% endif %}
      <div class="password-page-row">
        <div class="password-page-col">
          <h2 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h2>
        </div>
      </div>
      {% unless shop.password_message == blank %}
      <div class="password-page-row">
        <div class="password-page-col">
          <p class="password-message">{{ shop.password_message }}</p>
        </div>
      </div>
      {% endunless %}
      <div class="controls">
        <div id="open-me">
          <a href="#">&#8226; {{ 'general.password_page.login_form_heading' | t }} &#8226;</a>
        </div>
      </div>

      <div class="password-page-row">
        <div class="password-page-col">
          {% include 'newsletter-form' %}
           <p class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</p>
        </div>
      </div>

      <div class="password-page-row">
        <div class="password-page-col password-social">

            <ul class="social_icons">
              {% if settings.twitter_link != '' %}
                  <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
                {% endif %}

                {% if settings.facebook_link != '' %}
                  <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
                {% endif %}

                {% if settings.google_link != '' %}
                  <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-gplus"></a></li>
                {% endif %}

                {% if settings.youtube_link != '' %}
                  <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
                {% endif %}

                {% if settings.vimeo_link != '' %}
                  <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo"></a></li>
                {% endif %}

                {% if settings.pinterest_link != '' %}
                  <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
                {% endif %}

                {% if settings.tumblr_link != '' %}
                  <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
                {% endif %}


                {% if settings.instagram_link != '' %}
                  <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
                {% endif %}

                {% if settings.snapchat_link != '' %}
                  <li><a href="{{ settings.snapchat_link }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank" class="icon-snapchat"></a></li>
                {% endif %}

                {% if settings.houzz_link != '' %}
                  <li><a href="{{ settings.houzz_link }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank" class="icon-houzz"></a></li>
                {% endif %}
                {% if settings.linkedin_link != '' %}
                  <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
                {% endif %}

                {% if settings.email_link != '' %}
                  <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
                {% endif %}
          </ul>
          <p class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</p>
        </div>
      </div>

	<div class="password-page-row">
    	<div class="password-page-col">
    		<div class="password-footer">
     		  <div class="powered">
  	  		  &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ 'layout.general.designer_credits_html' | t }}<br>
      		  </div>
     		  <div class="shopify">
      	      {{ 'general.password_page.powered_by_shopify_html' | t }}
      		  </div>
     		</div>
   		 </div>
  	</div>
  </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close"><a class="remodal-close"></a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }} </label>
      <div>
        <input type="password" name="password" id="password" autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
        <input class="action_button sign_up" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
      </div>
    {% endform %}

    <div id="owner">{{ 'general.password_page.admin_link_html' | t }} {{ 'general.password_page.or' | t }} <a href="/admin/online_store/preferences?tutorial=unlock">{{ 'general.password_page.change_your_password_settings' | t }}</a></div>
  </div>
</div>
</div>

<script>
$(function() {
  $( "#open-me" ).click(function() {
    $( ".overlay" ).addClass('overlay-open');
  });

  $( ".close-me" ).click(function() {
    $( ".overlay" ).removeClass( 'overlay-open' );
  });
});
</script>
</body>

</html>
